Idioms/Waffle_Chart/gtdb.csv
Idioms/Tree_Map/gtdb.csv
Idioms/Word_Cloud/gtdb.csv
Idioms/Circle_Packing/Waffle_Chart/gtdb.csv
Idioms/Stacked_Row_Chart/gtdb.csv
Idioms/Donut_Chart/gtdb.csv
Idioms/Box_And_Whisker_Plot/gtdb.csv
Idioms/Map_Idiom/2010_to_2017_terrorist_attacks_countrycount.csv
Idioms/Map_Idiom/2010_to_2017_terrorist_attacks_removedcols.csv
Visualization/gtdb.csv
Visualization/2010_to_2017_terrorist_attacks_countrycount.csv
Visualization/2010_to_2017_terrorist_attacks_removedcols.csv
Visualization/ne_110m.json
Idioms/Line_Chart/gtdb.csv
Idioms/Row_Chart/gtdb.csv
